{% extends 'base.html' %}
{% block content %}
<div class='row'>
    <div class='span4 offset1'>
        <form class='form-horizontal' action='add_url' method='post'>
            <fieldset>
            {% csrf_token %}
            <legend>Link</legend>
            <input type='text' name='url'>
            <button type='submit' class='btn'>Submit</button>
        </fieldset>
        </form>
    </div>

    <div class='span4'>
        <legend>How it works.</legend>
        <p>Adding a link will allow TellMeCat to keep track of items that you want to get updates to. You'll see this link added to your "My Stories" page. If anyone finds an update to this, you'll be notified, and you'll find the update on your stories page.</p>

</div>
{% endblock content %}
