<!DOCTYPE html>
{% load browserid %}
<html>
    <head>
        <title>Follow up on the stories you want.</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link href='{{ STATIC_URL }}css/bootstrap.min.css' rel='stylesheet' media='screen'>
        <link href='{{ STATIC_URL }}css/bootstrap-responsive.css' rel='stylesheet' media='screen'>
    </head>

    <body>
        {% browserid_info %}
        <div class='navbar'>
            <div class='navbar-inner'>
                <a class='brand' href='/'>TellMe.cat</a>
                <ul class='nav'>
                    <li><a href='list'>My Stories</a></li>
                    <li><a href='add'>Add Story</a></li>
                    <li><a href='respond'>Add Update</a></li>
                </ul>
                <ul class='pull-right' style="padding-top:7px;">
                    {% if user.is_authenticated %}
                    <li>Hello {{ user.name }}: {{ karma }} | {% browserid_logout text='Logout' %}</li>
                    {% else %}
                        <li>{% browserid_login text='Login' %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class='container'>
            {% block content %}{% endblock content %}

            <div class='navbar-fixed-bottom' style='text-align:center;'>
                    <a href='/privacy'>Privacy Page</a> | <a href='http://www.worldsproject.org'>WorldsProject LLC</a>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src='{{ STATIC_URL }}js/bootstrap.min.js'></script>
        {% browserid_js %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
