<!DOCTYPE html>
<html>
    <head>
        <title>{{ TITLE }} | FollowUp</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link href='{{ STATIC_URL }}css/bootstrap.min.css' rel='stylesheet' media='screen'>
    </head>

    <body>
        <div class='navbar'>
            <div class='navbar-inner'>
                <a class='brand' href='/'>TellMe.cat</a>
                <ul class='nav'>
                    <li><a href='list'>My Stories</a></li>
                    <li><a href='add'>Add Story</a></li>
                    <li><a href='respond'>Add Update</a></li>
                </ul>
                {% if user.is_authenticated %}
                <form class='navbar-form pull-right' action='process_logout' method='post'>
                    {% csrf_token %}
                    <h6>Hello {{ user.username }}!</h6>
                    <button class='btn btn-small'>Logout</button>
                </form>
                {% else %}
                <form class='navbar-form pull-right' action='process_login' method='post'>
                    {% csrf_token %}
                    <input name='username' type='text' placeholder='Username'>
                    <input name='password' type='password' placeholder='Password'>
                    <button class='btn btn-small'>Login</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div class='container'>
            {% block content %}{% endblock content %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src='{{ STATIC_URL }}js/bootstrap.min.js'></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
