{% extends 'base.html' %}
{% block content %}

<form action='process_login' method='post'>
    {% csrf_token %}
    <h2 class='form-signin-heading'>Please Sign In</h2>
    <input type='text' name='username'  placeholder='Email Address'>
    <br>
    <input type='password' name='password'  placeholder='Password'>
    <label class='checkbox'>
        <input type='checkbox' value='remember-me'>Remember Me
    </label>
    <button class='btn btn-large btn-primary' type='submit'>Sign In</button>
</form> 

{% endblock content %}
